div.container {
    display: flex;
    min-height: 30vh;
    justify-content: center;
}
div.box {
   
    border: 3px solid black;
    padding: 30px;
    margin: 30px; 
    text-align: center;
}

.h1 {
    justify-content: center;
    font-size: xx-large;
    font-family: fantasy;
    display: flex;


}
.form {
   display: flex;   
   justify-content: center;
}
img {

    display: flex;
    justify-content: flex-start;
    height: 10%;
    max-width: 20%;



}