
* {
    box-sizing: border-box;
     margin: 0;
}


html, body{

    margin: 0;
    font-size: 30px;
    
}


.bgimg1{
    background-image: url("img/dogs-2195708_1920.jpg");
    min-height: 100vh;
    
}


.bgimg1 h1 {
    padding-top: 80px;
}
.bgimg2 {
    background-image: url("img/dog-2795963_1920.jpg");
    min-height: 600px;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;  
}
    


.bgimg1 {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
}


.wrapper1{
    display: block;  
    justify-content: center;  
}

.wrapper1 img{
    margin: 20px 0 5px 0;
    min-width: 74px;
    
    width: auto;
    
}

.wrapper1 h1{
    
    color: #f78d4c;
    height: auto;
}

.logo{
    height: 620px;
    text-align: center;
    background-image: linear-gradient(0deg,#f78d4c, #fff3d5);
    

    
}

.logo p{
    
    
}

.wrapper2{
    display: flex;  
    flex-direction: column;
    text-align: center;
}

.wrapper2 a{
    color: #fff3d5;
    background-color: #f78d4c;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 30px;
    text-shadow: 0 2px 2px black;
    box-shadow: 2px 2px 2px black;
}

.wrapper2 span{
    
    font-weight: 700;

}



/*****************************FEATURES***********************************/


.features {
    display: flex;
    color: black;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    align-content: space-around;

}
.features-container {
    background: #f78d4c;
}
.features li {
    width: 50%;
    line-height: 50px;
    padding: 10px 10px 30px;
}
/*************************EMAIL*************************************/



h1{
    text-align: center;
    margin: 0;

    padding-bottom: 50px;

}
div.container {
    display: flex;
    min-height: 30vh;
    justify-content: center;
    background-image: linear-gradient(0deg, #fff3d5, #f78d4c);

}

div.box {
    border: 3px solid black;
    padding: 30px;
    margin: 30px;
    text-align: center;
}

.h1 {
    justify-content: center;
    font-size: xx-large;
    font-family: fantasy;
    display: flex;
}

.form {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: space-around;
}

img {
    height: auto;
    max-width: 20%;
}

button {
    color: #fff3d5;
    background-color: #f78d4c;
    text-decoration: none;
    padding: 30px 40px;
    font-size: 1em;
    margin: 0 10px;
    border-radius: 30px;
    text-shadow: 0 2px 2px black;
    box-shadow: 2px 2px 2px black;
}


/**************************NAV***********************************/

.showMenu {
    background-color: #f78d4c;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    font-size: large;
    border-radius: 5px;
    padding: 8px 20px;
    position: fixed;
    z-index: 2;
    width: 100%;
    border-radius: 30px;
    text-shadow: 0 2px 2px black;
    box-shadow: 2px 2px 2px black;
  }
  
  
  .showMenu a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
  }
  
  
  .showMenu a:hover {
    background-color: rgb(238, 182, 78);
    color: black;
    border-radius: 30px;
    
  }
  
  

@media screen and (min-width: 800px){
   


    .logo{
        height:500px;
        
        display: flex;
        flex-direction: column;
        
    }

    .wrapper1 img{
        
        margin: 20px 0 5px 0;
        max-width: 100% ;
        height: auto;
         
    }

    .wrapper1 h1{
        display: flex;
        justify-content: center;
        
        

        
    }

    .wrapper2{
        display: flex;  
        flex-direction: row;
        justify-content: space-around;

    }

    .wrapper2 span{
        margin: 10px -20px 0 0;
    }
}


