* {
    box-sizing: border-box;
    margin: 0;

}

body {
    background-color: #4aaa00;
    margin: 0 auto;
    width: 100%;
    height: auto;
    font-size: 30px;
}
.game {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
    height: 78vh;
    margin-right: 3vw;
}

.header {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Chango', cursive;
    color : white;
}

.header h1 { 
    text-shadow: 0 0 7px black;
    font-size: 7vw;
}
.header h2 {
    text-shadow: 0 0 7px black;
    font-size: 10vw;
    font-family: 'Lato';
    margin-right: 10vw;
    font-weight: 600;
}

.box {
    background: url(bush.png)  no-repeat bottom center;
    width: 90%;
    height: 90%;
    background-position: bottom ;    
    background-size: 110% 70%;
    position: relative;
    top: 6%;
    left: 4vw;
    
 }
 
 .cat {
    background: url(big-2024026_640.png) no-repeat  bottom center;
    position: absolute;
    width:  90%;
    height: 90%;
    bottom: 37%;     /*od 7 37do */ 
    left: -3%;
    background-size: 50% 70%;
    z-index: -1;
    transition: all 0.4s;
    
 }

 .up{
    top: 0;
}
