* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #4aaa00;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;

}
.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    height: 85vh;
}
.header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.header h1 { 
}
.header h2 {
  background-color: antiquewhite;
  margin-right: 15vw;
}

.box img {
width: 30vw;
height: 10vw;
}